body{
	text-align:center;
}
.gray{
	color: gray;
}
.matrica_table{
	text-align:center;
}
#formulas{
	overflow-x:scroll;
	overflow-y:scroll;
	width:400px;
	height:400px;
}
#temp{
	color:gray;
}
.formula_cell{
	text-align:left;
	vertical-align:top;
	font-family:serif;
}
.formula_cell td{
	text-align:center;
}
.paren{
	font-size:200%;
}
.paren3{
	font-size:300%;
}
#graph{
	width:400px;
	height:400px;
}
.graph_cell{
	padding:0px;
}
.message{
	color:black;
	font-size:small;
}
.caution{
	color:red;
	font-size:small;
}
.selection{
	background-color:#EEEEFF;
}
.deleteButton{
	vertical-align:center;
	display: none;
}
.selection .deleteButton{
	vertical-align:center;
	display: block;
}
.deleted{
	display: none;
}
canvas.mobile{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.explanation{
	width=600px;
}